.contact-page-wrapper {
  position: relative;
  min-height: 100vh;
}

.contact-container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 400px;
  min-width: 300px;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  background-color: #FEC576;
}

.back-button-floating-wrapper {
  position: absolute;
  left: -80px;
  top: 2.9rem;
  z-index: 10;
}